<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Locations
    </ion-title>
    <!-- <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="tab2"></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()">
        <ion-icon
          name="search"
          color="light"
          size="medium"
          *ngIf="!showSearch"
        ></ion-icon>
        <ion-icon
          name="close"
          color="light"
          size="medium"
          *ngIf="showSearch"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" id="tab2" (swipe)="switchTab($event)">
  <ion-searchbar
    #autofocus
    animated="true"
    (ionChange)="search($event)"
    showCancelButton="focus"
    style="width:100%;"
    color="dark"
    debounce="250"
    *ngIf="showSearch"
  ></ion-searchbar>
  <ion-spinner *ngIf="loading" color="light"></ion-spinner>
  <ion-icon size="large" name="sad" *ngIf="!locations.length"></ion-icon>
  <ion-list color="dark" *ngIf="locations.length">
    <app-location-item
      *ngFor="let location of locations;let i = index;"
      [location]="location"
    ></app-location-item>
    <ion-infinite-scroll
      threshold="2%"
      style="background-color: #222428;"
      (ionInfinite)="getLocationData($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Using Portal Gun"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
<!-- <ion-menu
  menuId="tab2"
  contentId="tab2"
  side="start"
  maxEdgeStart="100"
  type="overlay"
>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark">
    <ion-list color="dark">
      <ion-item color="dark">
        <ion-icon name="funnel"></ion-icon>
        <ion-label>Filter</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-icon name="funnel"></ion-icon>
        <ion-label>Filter</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-icon name="funnel"></ion-icon>
        <ion-label>Filter</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->
